*.idea/
*target/
*.iml
Greet-Dough-Backend/src/main/java/store/postgres/BaseDAO.java
greet-dough-frontend/public/data/images/*
greet-dough-frontend/public/data/profile_pictures/*
greet-dough-frontend/public/data/temp/*

